#set ( $BNAME = "${beanClass.name}" )
#set ( $BNAME_V = $beanClass.name.substring(0,1).toLowerCase() + $beanClass.name.substring(1) )
#set ( $BNAME_DAO = ${beanClass.name} + "Dao" )
#set ( $BNAME_DAO_V = $BNAME_DAO.substring(0,1).toLowerCase() + $BNAME_DAO.substring(1) )
#set ( $KEYS = "" )
#foreach($singlekey in $beanClass.keyAttributes)
#set ( $KEYS = $KEYS+$singlekey.name.substring(0,1).toUpperCase()+$singlekey.name.substring(1))
#end
#set ( $KEYS_PAR = "" )
#foreach($field in $beanClass.keyAttributes)
#set ( $KEYS_PAR = $KEYS_PAR+ "," + $field.type +" " + $field.name )
#end
#set ( $KEYS_PAR = $KEYS_PAR.substring(1) )

#set ( $KEYS_PAR_BEAN = "" )
#foreach($field in $beanClass.keyAttributes)
#set ( $KEYS_PAR_BEAN = $KEYS_PAR_BEAN+ "," + $BNAME_V +"." + $field.getter+"()" )
#end
#set ( $KEYS_PAR_BEAN = $KEYS_PAR_BEAN.substring(1) )

#set ( $KEYS_TYPE = "" )
#foreach($field in $beanClass.keyAttributes)
#set ( $KEYS_TYPE = $KEYS_TYPE+ "," + $field.type)
#end
#set ( $KEYS_TYPE = $KEYS_TYPE.substring(1) )

#set ( $KEYS_PAR_NODECLARE = "" )
#foreach($field in $beanClass.keyAttributes)
#set ( $KEYS_PAR_NODECLARE = $KEYS_PAR_NODECLARE+ ","+$field.name )
#end
#set ( $KEYS_PAR_NODECLARE = $KEYS_PAR_NODECLARE.substring(1) )
#set ( $BASE_PACKAGE = $beanClass.package.substring(0,$beanClass.package.lastIndexOf(".")))

package ${target.javaPackageFromFolder($SRC)};
import $beanClass.fullName;

import ${BASE_PACKAGE}.service.${BNAME}Service;
import java.util.Collection;
import java.util.Iterator;
import java.util.Map;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;
import org.springframework.stereotype.Component;

import com.bstek.bdf.pagination.Pagination;
import com.bstek.dorado.annotation.DataProvider;
import com.bstek.dorado.annotation.DataResolver;
import com.bstek.dorado.data.entity.EntityState;
import com.bstek.dorado.data.entity.EntityUtils;
import com.bstek.dorado.data.entity.FilterType;
import com.bstek.dorado.data.provider.Page;


@Component
public class ${BNAME}ManagerPR{
	
	@Autowired
	private ${BNAME}Service ${BNAME_V}Service;
	
	/**
	 * 
	 * 
	 * @param parameter
	 * @return
	 * @throws Exception
	 */
	@DataProvider
	public Collection<$BNAME> getAll${BNAME}s(Map<String, Object> parameter) throws Exception{
		if(!this.hasParameter(parameter)){
			return ${BNAME_V}Service.getAll$BNAME();
		}else{
			$BNAME $BNAME_V = mapToJava(parameter);
			return ${BNAME_V}Service.getAll$BNAME(parameter,$BNAME_V);
		}
	}
	

	@DataProvider
	public void getAll${BNAME}s(Page<$BNAME> page, Map<String, Object> parameter) throws Exception{

	        Pagination<${BNAME}> p = null;
		if(!this.hasParameter(parameter)){
			 p=${BNAME_V}Service.getPageAll$BNAME( page.getPageNo(), page.getPageSize());
		}else{
			${BNAME} ${BNAME_V} = mapToJava(parameter);
			p=${BNAME_V}Service.getPageAll${BNAME}ByCondition(parameter, ${BNAME_V},page.getPageNo(), page.getPageSize());	
		}
		page.setEntities(p.getResults());
		page.setEntityCount(p.getTotalCount());
	}
	
	@DataResolver
	public void saveAll${BNAME}s(Collection<$BNAME> coll) throws Exception{
		
		@SuppressWarnings("unchecked")
		Iterator<$BNAME> iter=EntityUtils.getIterator(coll, FilterType.DIRTY);
		while(iter.hasNext()){
			$BNAME $BNAME_V=iter.next();
			EntityState state=EntityUtils.getState($BNAME_V);
			if(state.equals(EntityState.NEW)){
				${BNAME_V}Service.insert$BNAME($BNAME_V);
			}
			if(state.equals(EntityState.MODIFIED)){
				${BNAME_V}Service.update$BNAME($BNAME_V);
			}
			if(state.equals(EntityState.DELETED)){
				${BNAME_V}Service.delete${BNAME}By$KEYS($KEYS_PAR_BEAN);
			}
		}
	}
	
	private boolean hasParameter(Map parameter){
		return parameter!=null;		
	}

	private $BNAME mapToJava(Map<String, Object> parameter) {
		return null;
	}
	
}
